.*
.*/*
IDE-config/
Dockerfile
License.txt
README.md
README.MD
LICENSE
LICENSE.TXT
linters/
.devcontainer/
*.py[cod]
__pycache__/
.pytest_cache/
.coverage
.env
*.sqllite3
build/
dist/
*.egg-info/
*.log
tmp/
secrets.json
logs/
docker-compose*.yml
azure/
