{% extends 'base.html' %}

{% block content %}
<div class="usa-section padding-top-4">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-6 bg-white padding-y-3 padding-x-5 border border-base-lighter">
        {% if validlink %}
          <h3>Change password</h3>
          <form class="usa-form" method="POST">
            {% csrf_token %}
            <div class="usa-form-group">
              <label for="id_new_password1" class="usa-label">New Password</label>
              <input type="password" name="new_password1" autocomplete="false" id="id_new_password1" class="usa-input" required
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, and one number.">
            </div>
            <div class="usa-form-group">
              <label for="id_new_password2" class="usa-label">Confirm New Password</label>
              <input type="password" name="new_password2" autocomplete="false" id="id_new_password2" class="usa-input" required>
            </div>
            <input class="usa-button" type="submit" value="Submit"/>

            {% if form.errors %}
            <div class="usa-alert usa-alert--error" role="alert">
              <div class="usa-alert__body">
                <p class="usa-alert__text" style="margin-left: 0;">
                  {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                      {{ error }}
                    {% endfor %}
                  {% endfor %}
                </p>
              </div>
            </div>
            {% endif %}
          </form>
        {% else %}
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}