{% extends 'base.html' %}

{% block title %}Password reset sent{% endblock %}

{% block content %}
<div class="usa-section padding-top-4">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-6 bg-white padding-y-3 padding-x-5 border border-base-lighter">
        <p>
          We've emailed you instructions for setting your password, if an account exists with the email you entered.
          You should receive them shortly.
        </p>
        <p>
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}