{% load static %}
{% include 'sections/header.html' %}
<section class="grid-container usa-section padding-top-0">
    <h1>Processing</h1>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="">
    </script>
    <div class="grid-row flex-justify-center">
        <div class="grid-col-12 tablet:grid-col-10 desktop:grid-col-12">
            <div class="container">
                <div class="flex-container">
                    <div class="form-container">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="usa-button" name="filter">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="map-container padding-top-5">
                    <div id="map" class="map" style="height: 700px;"></div>
                </div>
                {% if filtered_data %}
                    <div class="grid-row">
                        <form id="data-form" method="POST">
                            <!-- First section: data selection -->
                            {% csrf_token %}
                            <h2>Results</h2>
                            <table class="results-table usa-table usa-table--sticky-header">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" id="select-all">
                                        </th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Vendor ID</th>
                                        <th scope="col">Entity ID</th>
                                        <th scope="col">Vendor</th>
                                        <th scope="col">Platform</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Publish Date</th>
                                        <th scope="col">Pixel Size</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in filtered_data %}
                                        <tr data-geom="{{ data.geometry }}">
                                            <td>
                                                <input type="checkbox"
                                                       class="record-checkbox"
                                                       name="ids"
                                                       value="{{ data.id }}"
                                                       data-vendor-id="{{ data.vendor_id }}"
                                                       data-entity-id="{{ data.entity_id }}">
                                            </td>
                                            <td>{{ data.id }}</td>
                                            <td>{{ data.vendor_id }}</td>
                                            <td>{{ data.entity_id }}</td>
                                            <td>{{ data.vendor }}</td>
                                            <td>{{ data.platform }}</td>
                                            <td>{{ data.date }}</td>
                                            <td>{{ data.publish_date }}</td>
                                            <td>{{ data.pixel_size_x|floatformat:2 }} x {{ data.pixel_size_y|floatformat:2 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div id="credentials-section", method="POST">
                                <h3>Enter Credentials</h3>
                                <p>Enter your credentials for the corresponding table name</p>
                                {% csrf_token %}
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="username" required>
                                <br>
                                <br>
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" required>
                                <br>
                                <br>
                            </div>
                            <button type="submit" id="process">Process selection</button>
                        </form>
                    </div>
                {% endif %}
            </div>
            <script>
	document.addEventListener('DOMContentLoaded', function () {
		// Initalize map
		var map = L.map('map').setView([39.8283, -98.5795], 4);
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; OpenStreetMap contributors'
		}).addTo(map);
		
		// Add GeoJSON polygons to the map and sync with table
		{% if filtered_data %}
		var geojsonData = [];
		var bounds = L.latLngBounds();
		
		{% for data in filtered_data %}
			var geom = JSON.parse('{{ data.geometry|escapejs }}');
			geojsonData.push(geom);
			
			var layer = L.geoJSON(geom, {style: {color: 'blue', fillOpacity: 0}}).addTo(map);
			
			// Extend bounds to include current geometry
			layer.eachLayer(function (layer) {
				bounds.extend(layer.getBounds());
			});
		{% endfor %}
		
		map.fitBounds(bounds);
		{% endif %}
			
		// Function to update hidden inputs based on checkbox selections
		function updateHiddenInputs() {
			document.querySelectorAll('input[name="vendor_ids"], input[name="entity_ids"]').forEach(input => input.remove());
			
			document.querySelectorAll('input.record-checkbox:checked').forEach(checkbox => {
				let vendorId = checkbox.getAttribute('data-vendor-id');
				let entityId = checkbox.getAttribute('data-entity-id');
				
				let vendorInput = document.createElement('input');
				vendorInput.type = 'hidden';
				vendorInput.name = 'vendor_ids';
				vendorInput.value = vendorId;
				document.getElementById('data-form').appendChild(vendorInput);
				
				let entityInput =document.createElement('input');
				entityInput.type = 'hidden';
				entityInput.name = 'entity_ids';
				entityInput.value = entityId;
				document.getElementById('data-form').appendChild(entityInput);
			});
			
		}
		
		attachEventListeners();
		
		// Reattach event listeners after form submission
		function attachEventListeners() {
			// Checks if the credentials section exists
			var credentialsForm = document.getElementById('credentials-section');
		
			if (credentialsForm) {
				credentialsForm.addEventListener('submit', function(e) {
					// Prevent default submission to handle encryption first
					e.preventDefault();
					
					// Get user inputs
					let username = document.getElementById('username').value;
					let password = document.getElementById('password').value;
					
					// Encrypt the credentials using base64
					// This is currently not working
					let encryptedUsername = btoa(username);
					let encryptedPassword = btoa(password);
					
					// Set encrypted values back to the the form fields
					document.getElementById('username').value = encryptedUsername;
					document.getElementById('password').value = encryptedPassword;
					
					// Submit the form with encrypted Credentials
					this.submit()
				});
			} else {
				console.error('Credentials section not found.');
			}
		
			// Select or deselect all checkboxes
			document.getElementById('select-all').addEventListener('change', function () {
				let checkboxes = document.querySelectorAll('input.record-checkbox');
				checkboxes.forEach(checkbox => {
					checkbox.checked = this.checked;
				});
				updateHiddenInputs();
			});
		
		
			// Update hidden inputs when individual checkboxes are changed
			document.querySelectorAll('input.record-checkbox').forEach(checkbox => {
				checkbox.addEventListener('change', function() {
					updateHiddenInputs();
				});
			});
		}
		
			// Update hidden inputs on form submission
			//document.getElementById('data-form').addEventListener('submit', function(e) {
			//	updateHiddenInputs();
			//});

		//document.addEventListener('DOMContentLoaded', function () {
			// Select or deselect all checkboxes
		//	document.getElementById('select-all').addEventListener('change', function() {
		//		let checkboxes = document.querySelectorAll('input.record-checkbox');
		//		checkboxes.forEach(checkbox => {
		//			checkbox.checked = this.checked;
		//		});
		//		updateHiddenInputs();
		//	});
		//});
		
		// Update hidden inputs when indvidual checkboxes are changed
		//document.querySelectorAll('input.record-checkbox').forEach(checkbox => {
		//	checkbox.addEventListener('change', function() {
		//		updateHiddenInputs();
		//	});
		//});
		
	// Call the function to attach event listeners when the page loads
	//attachEventListeners();
	});
            </script>
        </div>
    </section>
</body>
{% include 'sections/footer.html' %}
</html>
